html{
  background-color: black;
  color: white;
}
.gameStartContainer{
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 300px;
  height: 200px;
  margin:auto;
  padding: 20px;
  margin-top: 10em;
  border: 1px solid white;
  
}

.gameContainer{
  display: grid;
  height: 600px;
  width: 1000px;
  grid-template-columns: 60% 40%;
  grid-template-rows: 66% 34%;
  grid-template-areas: "textBox imageBox"
                        "buttonBox imageBox";  
  border: 1px solid white;
}
.textBox{
  grid-area: textBox;
  border: 1px solid white;
  font-size: 20px;
}
.buttonBox{
  grid-area: buttonBox;
  border: 1px solid white;
}
.imageBox{
  grid-area: imageBox;
  border: 1px solid white;
}

.hidden {
  display:none;
}