html{
  background-color: black;
  color: white;
}

.gameStartContainer{
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 300px;
  height: 200px;
  margin:auto;
  padding: 20px;
  margin-top: 10em;
  border: 1px solid white;
}

.gameContainer{
  display: grid;
  height: 600px;
  width: 1000px;
  grid-template-columns: 60% 40%;
  grid-template-rows: 66% 34%;
  grid-template-areas: "textBox imageBox"
                        "buttonBox imageBox";  
  border: 1px solid white;
}

.textBox{
  padding: 5px;
  grid-area: textBox;
  border: 1px solid white;
  font-size: 20px;
}

.buttonBox{
  padding: 5px; 
  grid-area: buttonBox;
  border: 1px solid white;
}

.imageBox{
  padding: 5px;
  grid-area: imageBox;
  border: 1px solid white;
}

.hidden {
  display:none;
}

/* Font styling */
body {
  font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
}

/* START BUTTON STYLING */
#startButton {
  margin: 5px;
  font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
  font-size: 16px;
  letter-spacing: 2px;
  text-decoration: none;
  color: #000;
  cursor: pointer;
  border: 1px solid;
  padding: 0.25em 0.5em;
  /* box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px; */
  position: relative;
  user-select: none;
  touch-action: manipulation;
}

#startButton:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

#startButton:hover {
  background-color: black;
  color: white;
}

#startButton:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}

/*SELECTION BUTTON STYLING*/

.selection {
  display: block;
  width: 100%;
  font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
  font-size: 16px;
  letter-spacing: 2px;
  color: #000;
  cursor: pointer;
  border: 1px solid;
  padding: 0.25em 0.5em;
  position: relative;
  user-select: none;
  touch-action: manipulation;
}

.selection:hover {
  background-color: black;
  color: white;
}

.selection:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}

#loadingDots {
  font-size: inherit;
}

.dot {
  animation: pulse 1s ease-in-out infinite;
  display: inline-block;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.25);
  }
  100% {
    transform: scale(1);
  }
}

.dot:nth-child(2) {
  animation-delay: 0.2s;
}

.dot:nth-child(3) {
  animation-delay: 0.4s;
}